.cookie{
    overflow: hidden;
    height: 20vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 80vh;
    background-color: #91ed96a8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    p{
        margin: 0;
        padding: 0;
        margin:1%;
    }
    
    .buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        width: auto;
        .policy{
            width: 150px;
            color: black;
            min-width: 80px;
            margin: 10px;    
            text-decoration: none;
            cursor: pointer;
        }
    }
}

@media(max-widt: 600px){
    .cookie{
        height: 30vh;
    }
}